<tr class='filter model_type' data-model_type='{{name}}'>
  <td>
    <a title='{{name}}' data-model_type='{{name}}'>
      <div>{{name}}</div>
      <div class='count'>{{count}}</div>
    </a>
  </td>
</tr>
