<div>
  <form class='sessions new'>
    <div class='field email'>
      <label for='email'></label>
      <input type='text' id='email' name='{{t "common.email"}}' value='{{email}}'/>
    </div>
    <div class='field password'>
      <label for='password'></label>
      <input type='password' id='password' name='{{t "common.password"}}' value='{{password}}'/>
    </div>
    <div class='submit'>
      <input type='submit' value='{{t "buttons.login"}}'/>
    </div>
  </form>
</div>
