<div>
  <div>
    <div>
      <h2 class='title'>{{title}}</h2>
    </div>
    {{#if new}}
      <div>
        {{include new}}
      </div>
    {{/if }}
    <div>
      <div class='spinner table'></div>
      <div>
        <table>
          <thead>
            <tr>
              {{#each headers}}
                <td>{{this}}</td>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each collection}}
              {{include ../row}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div>
      {{#if paginate}}
      <div id="paging">
        <span class='page selected' data-page='{{page}}'>{{page}}</span>
        <span class='page' data-page='{{next}}'>{{next}}</span>
        <span class='page' data-page='{{next}}'>Next</span>
      </div>
      {{/if }}
    </div>
  </div>
</div>
