<div>
  <form class='invites show'>
    <div class='field name'>
      <label for='name'></label>
      <input type='text' id='name' name='{{t "common.name"}}' value='{{name}}'/>
    </div>
    <div class='field password'>
      <label for='password'></label>
      <input type='password' id='password' name='{{t "common.password"}}' value='{{password}}'/>
    </div>
    <div class='submit'>
      <input type='submit' value='{{t "buttons.submit"}}'/>
    </div>
  </form>
</div>
