<div id='new-invite'>
  <a title='{{t "applications.show.invite_users"}}'>{{t "applications.show.invite_users"}}</a>
  <div class='success hidden'>{{t "invites.new.success"}}</div>
  <form class='hidden'>
    <div class='spinner small hidden'></div>

    <label for='email'></label>
    <input type='text' id='email' class='email' name='{{t "common.email"}}' />
    <input type='submit' value='{{t "buttons.invite"}}' />
  </form>
</div>
