<div>
  <form class='users new'>
    <div class='field name'>
      <label for='name'></label>
      <input type='text' id='name' name='{{t "common.name"}}' value='{{name}}'/>
    </div>
    <div class='field email'>
      <label for='email'></label>
      <input type='text' id='email' name='{{t "common.email"}}' value='{{email}}'/>
    </div>
    <div class='field password'>
      <label for='password'></label>
      <input type='password' id='password' name='{{t "common.password"}}' value='{{password}}'/>
    </div>
    <div class='submit'>
      <input type='submit' value='{{t "buttons.submit"}}'/>
    </div>
  </form>
</div>
