<!DOCTYPE html>
<html>
<head>
  <title>Chordate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type='text/javascript'>
  c.data.user = new Backbone.Model(<%= raw(user? ? UserDecorator.new(user).to_json : {}) %>);
</script>

<%= yield %>

</body>
</html>
